<div class="admin-parent">
    <div class="sidebar-new">
        <ul class="nav">
            <li><a href=""><i class="fab fa-youtube"></i><span class="nav-link-text">Dashboard</span></a></li>
            <li><a href=""><i class="fab fa-youtube"></i><span class="nav-link-text">Theater Management</span></a></li>
            <li><a href=""><i class="fab fa-youtube"></i><span class="nav-link-text">User Management</span></a></li>
            <li><a href=""><i class="fab fa-youtube"></i><span class="nav-link-text">User Activity</span></a></li>
        </ul>
    </div>
    <div class="admin-add-theater-owner">
        <div class="admin-headings">
            <div class="admin-header-selector"></div>
            <h2>Theater Owners List</h2>
        </div>
        <form action="">
            <label for="">Name</label>
            <input type="text">
            <input type="text" name="" id="">

        </form>
    </div>
    <style>
        .sidebar-new {
            width: 70px;
        }

        .nav-link-text {
            display: none;
        }

        .nav>li>a {
            height: 30px;
            display: block;

        }
    </style>
</div>