{{!-- <div class="admin-parent">
    <div class="sidebar-new">
        <ul class="nav">
            <li><a href=""><i class="fab dashboard-icon fa-youtube"></i><span class="nav-link-text">Dashboard</span></a>
            </li>
            <li><a href=""><i class="fab dashboard-icon fa-youtube"></i><span class="nav-link-text">Theater
                        Management</span></a></li>
            <li><a href=""><i class="fab dashboard-icon fa-youtube"></i><span class="nav-link-text">User
                        Management</span></a></li>
            <li><a href=""><i class="fab dashboard-icon fa-youtube"></i><span class="nav-link-text">User
                        Activity</span></a></li>
        </ul>
    </div>
    <div class="admin-add-theater-owner">
        <div class="admin-headings">
            <div class="admin-header-selector"></div>
            <h2>Theater Owners List</h2>
        </div>
        <form action="">
            <label for="">Name</label>
            <input type="text">
            <input type="text" name="" id="">

        </form>
    </div>
    <style>
        .sidebar-new {
            overflow-x: hidden;
        }

        .sidebar-new>*:hover .sidebar-new {
            width: 300px;
        }

        .nav-link-text {
            opacity: 0;
        }

        .nav>li>a {
            height: 50px;
            display: block;
            display: flex;
            align-items: center;
            text-decoration: none;

        }

        .nav>li>a:hover .nav-link-text {
            display: inline;
        }



        .dashboard-icon {
            width: 50px;
            font-size: 20px;
            text-align: center;
            color: grey;
        }
    </style>
</div> --}}



<div class="admin-parent">
    {{!-- Sidebar --}}
    <div class="sidebar admin-sidebar">
        <ul class="admin-nav">
            <li>
                <a class="admin-nav-link" href="/admin">Dashboard
                    <div class="admin-nav-selector"></div></a>
            </li>
            <li class="admin-nav-item-aactive">
                <a class="admin-nav-link admin-nav-link--active" href="/admin/theater">Theater Management
                    <div class="admin-nav-selector"></div>
                </a>
            </li>
            <li>
                <a class="admin-nav-link" href="/admin/user">User Management
                    <div class="admin-nav-selector"></div></a>
            </li>
            <li>
                <a class="admin-nav-link" href="/admin/user-activity">Users Activity Tracker
                    <div class="admin-nav-selector"></div></a>
            </li>
        </ul>
    </div>
    <div class="admin-add-theater-owner">
        <div class="content-card">
            <div class="admin-headings">
                <div class="admin-header-selector"></div>
                <h2>Add Theater Owner</h2>
            </div>
        </div>

    </div>
    {{!-- Sidebar Ends --}}
</div>