<div class="admin-add-theater-owner">
    <div class="content-card">
        <div class="admin-headings">
            <div class="admin-header-selector"></div>
            <h2>Add Theater Owner</h2>
        </div>
        <form class="add-theater-owner-form" action="/admin/theater/add-owner" method="POST">
            <label for="email">
                Email
            </label>
            <input type="email" name="email">
            <label for="phone">
                Phone
            </label>
            <input type="tel" name="phone">
            <label for="theater">
                Theater Name
            </label>
            <input type="text" name="theater">
            <button class="admin-form-submit-button" type="submit">Submit</button>
        </form>
    </div>
</div>
{{!-- Scripts --}}
<script>
    setActiveTab("theater-management")
</script>