<div class="admin-parent">
    <div class="sidebar admin-sidebar">
        <h2>Admin Panel</h2>
        <ul class="admin-nav">
            <li class="admin-nav-item-aactive">
                <a class="admin-nav-link admin-nav-link--active" href="/admin">Dashboard<div class="admin-nav-selector">
                    </div></a>
            </li>
            <li><a class="admin-nav-link" href="/admin/theater">Theater Management<div class="admin-nav-selector"></div>
                </a>
            </li>
            <li><a class="admin-nav-link" href="/admin/user">User Management<div class="admin-nav-selector"></div></a>
            </li>
            <li><a class="admin-nav-link" href="/admin/user-activity">Users Activity Tracker<div
                        class="admin-nav-selector">
                    </div></a></li>
        </ul>
    </div>
    <section class="admin-dashboard">
        <div class="admin-headings">
            <div class="admin-header-selector"></div>
            <h2>
                Quick Overview
            </h2>
        </div>
        <div class="cards">
            <div class="card">
                <h2>Active Users</h2>
                <h1>17</h1>
            </div>
            <div class="card">
                <h2>Theater</h2>
                <h1>24</h1>
            </div>
            <div class="card">
                <h2>Active Theater</h2>
                <h1>16</h1>
            </div>
            <div class="card">
                <h2>On Hold</h2>
                <h1>30</h1>
            </div>
        </div>
    </section>
</div>