<div class="admin-parent">
    <section class="admin-dashboard">
        <div class="content-card">
            <div class="admin-headings">
                <div class="admin-header-selector"></div>
                <h2>
                    Quick Overview
                </h2>
            </div>
            <div class="cards">
                <div class="card">
                    <h2>Active Users</h2>
                    <h1>17</h1>
                </div>
                <div class="card">
                    <h2>Theater</h2>
                    <h1>24</h1>
                </div>
                <div class="card">
                    <h2>Active Theater</h2>
                    <h1>16</h1>
                </div>
                <div class="card">
                    <h2>On Hold</h2>
                    <h1>30</h1>
                </div>
            </div>
        </div>
    </section>
</div>