<section class="admin-dashboard">
    <div class="cards">
        <div class="card">
            <h2>Active Users</h2>
            <h1>17</h1>
        </div>
        <div class="card">
            <h2>Theater</h2>
            <h1>24</h1>
        </div>
        <div class="card">
            <h2>Active Theater</h2>
            <h1>16</h1>
        </div>
        <div class="card">
            <h2>On Hold</h2>
            <h1>30</h1>
        </div>
    </div>
</section>