<div class="content-card admin-login-box">
    {{#if errorMessage}}
    <h3><span><i class="fas fa-exclamation-circle"></i></span>{{errorMessage}}</h3>
    {{/if}}
    {{#if adminExists}}
    <h2>Admin, Welcome back.</h2>
    <form action="/admin/login" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="">
        <label for="password">Password</label>
        <input type="password" name="password" id="">
        <button type="submit">Create</button>
    </form>
    <p><a href="">Forgot password?</a></p>
    {{else}}
    <h2>Create Admin</h2>
    <form action="/admin/signup" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="">
        <label for="password">Password</label>
        <input type="password" name="password" id="">
        <button type="submit">Create</button>
    </form>
    {{/if}}
</div>