<div class="admin-parent">
    <section class="admin-theater-management">
        <div class="admin-headings">
            <div class="admin-header-selector"></div>
            <h2>Theaters Owners List</h2>
        </div>
        <table class="admin-theater-owner-table">
            <tr class="admin-user-table-row">
                <th class="admin-user-table-column1">No</th>
                <th class="admin-user-table-column2">Theater Name</th>
                <th class="admin-user-table-column3">Owner</th>
                <th class="admin-user-table-column4">Adde Date</th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    {{ownerDetails.theater}}
                </td>
                <td>{{ownerDetails.name}}</td>
                <td>22/10/2020</td>
            </tr>
        </table>
    </section>
</div>
{{!-- Scripts --}}
<script>
    setActiveTab("theater-management")
</script>