<div class="admin-parent">
  <section class="admin-theater-management">
    <div class="content-card">
      <div class="admin-headings">
        <div class="admin-header-selector"></div>
        <h2>Theater Partners</h2>
      </div>
      <table class="admin-theater-owner-table">
        <tr class="admin-user-table-row">
          <th class="admin-user-table-column1">No</th>
          <th class="admin-user-table-column2">Theater Name</th>
          <th class="admin-user-table-column3">Owner</th>
          <th class="admin-user-table-column4">Added Date</th>
        </tr>
        <tr>
          <td>1</td>
          <td>
            {{theaters.theater}}
          </td>
          <td>{{theaters.name}}</td>
          <td>22/10/2020</td>
        </tr>
      </table>
    </div>
  </section>
</div>

<script>
  setActiveTab("theaters-link");
  {{! const rowNumbers = () =>
  { const columns
  =document.querySelectorAll(".admin-theater-owner-theaters-table-no")
  columns.forEach(column => { console.log(column.innerHTML) const value =
  parseInt(column.innerHTML); column.innerHTML = value + 1; }) } }}
</script>