<div class="admin-parent">

  <section class="admin-theater-management">
    <div class="content-card">
      <div class="admin-headings">
        <div class="admin-header-selector"></div>
        <h2>Theater Owners List</h2>
      </div>
      <a href="/admin/theater/add-owner">Add theater Owner</a>
      <table class="admin-theater-owner-table">
        <tr class="admin-user-table-row">
          <th class="admin-user-table-column1">No</th>
          <th class="admin-user-table-column2">Name</th>
          <th class="admin-user-table-column3">Theater Name</th>
          <th class="admin-user-table-column4">Theaters</th>
          <th class="admin-user-table-column5">Actions</th>
        </tr>
        {{#each owners}}
        <tr>
          <td>1</td>
          <td>
            <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg?size=626&ext=jpg"
              alt="" />{{this.username}}
          </td>
          <td>{{this.theater}}</td>
          <td><a class="theater-owner-table-button" href="/admin/theater/view-theaters">VIEW</a< /td>
          <td>
            <a class="theater-owner-table-button" href="/admin/theater/edit-owner/{{this._id}}">EDIT</a><a
              class="theater-owner-table-button" href="/admin/theater/delete-owner/{{this._id}}">DELETE</a>
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </section>
</div>
{{!-- Scripts --}}
<script>
  setActiveTab("theater-management")
</script>