<div class="users-container">
    <h2>User List</h2>
    <table>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Joined Date</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Bazil Korath</td>
            <td>Basil@email.com</td>
            <td>01/01/2021</td>

        </tr>
    </table>
</div>