<div class="admin-parent">
  <!-- Sidebar End -->
  <section class="admin-user-management">
    <div class="content-card">
      <div class="admin-headings">
        <div class="admin-header-selector"></div>
        <h2>Users List</h2>
      </div>

      <table class="admin-user-table">
        <tr class="admin-user-table-row">
          <th class="admin-user-table-column1">No</th>
          <th class="admin-user-table-column2">Name</th>
          <th class="admin-user-table-column3">Email</th>
          <th class="admin-user-table-column4">Joined Date</th>
          <th class="admin-user-table-column5">Actions</th>
        </tr>
        <tr>
          <td>1</td>
          <td>
            <div class="table-image-name">
              <img
                src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg?size=626&ext=jpg"
                alt=""
              />Bazil Korath
            </div>
          </td>
          <td>Basil@email.com</td>
          <td>01/01/2021</td>
          <td>
            <a class="user-table-button" href="">EDIT</a><a
              class="user-table-button"
              href=""
            >DELETE</a>
          </td>
        </tr>

      </table>
    </div>
  </section>
</div>
{{! Scripts }}
<script>
  setActiveTab("users-link")
</script>