<section class="admin-user-management">
    <div class="user-management-container">
        <div class="admin-headings">
            <div class="admin-header-selector"></div>
            <h2>
                User List
            </h2>
        </div>


        <table class="admin-user-table">
            <tr class="admin-user-table-row">
                <th class="admin-user-table-column1">No</th>
                <th class="admin-user-table-column2">Name</th>
                <th class="admin-user-table-column3">Email</th>
                <th class="admin-user-table-column4">Joined Date</th>
                <th class="admin-user-table-column5">Actions</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Bazil Korath</td>
                <td>Basil@email.com</td>
                <td>01/01/2021</td>
                <td><a class="user-table-button" href="">EDIT</a><a class="user-table-button" href="">DELETE</a></td>
            </tr>
        </table>
    </div>
</section>