.app {
  display: flex;
}

.main-app {
  flex: 1;
}

.header {
  padding: 20px;
  box-shadow: var(--box-shadow-high);
  margin: 10px 20px;
  border-radius: 10px;
}

.sidebar {
  width: 220px;
  height: 100vh;
}
.navigation {
  padding: 0 10px;
}

.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.2s ease-in;
  border-radius: 5px;
}

.nav-link > img {
  width: 30px;
  height: 30px;
}

.nav-link > span {
  font-size: 18px;
  margin-left: 5px;
  transition: color 0.2s ease-in;
  color: black;
}

.nav-link:hover {
  background-color: var(--col-admin-primary-light);
}

.nav-link:hover > span {
  color: white;
}

.nav-link__active,
.nav-link__active:hover {
  background-color: var(--col-admin-primary);
}

.nav-link__active > span {
  color: white;
}
