<body>
    <div class="app">
        {{#unless hideSidebar}}
        {{>admin-sidebar}}
        {{/unless}}
        <main class="main-app">
            {{>admin-header}}

            <div class="admin-content">
                {{{body}}}
            </div>
        </main>
    </div>
</body>