<body>
    <div class="app">
        {{#unless hideSidebar}}
        {{>admin-sidebar}}
        {{/unless}}
        <main class="main-app">
            {{>admin-header}}
            {{{body}}}
        </div>
    </div>
</body>