<body>
    <div class="app">
        {{>admin-sidebar}}
        <div class="main-app">
            {{>admin-header}}

            <div class="admin-content">
                {{{body}}}
            </div>
        </div>
    </div>
</body>