<div class="sidebar admin-sidebar">
    <h2>Admin Panel</h2>
    <ul class="admin-nav">
        <li>
            <a class="admin-nav-link" href="/admin">Dashboard<div class="admin-nav-selector">
                </div></a>
        </li>
        <li><a class="admin-nav-link" href="/admin/theater">Theater Management<div class="admin-nav-selector"></div></a>
        </li>
        <li><a class="admin-nav-link" href="/admin/user">User Management<div class="admin-nav-selector"></div></a></li>
        <li><a class="admin-nav-link" href="/admin/user-activity">Users Activity Tracker<div class="admin-nav-selector">
                </div></a></li>
    </ul>
</div>