<aside id="admin-sidebar" class="sidebar">
  <h1>CineMax</h1>

  <nav>
    <ul class="navigation">
      <li>
        <a id="dashboard-link" class="nav-link" href="/admin">
          <img src="/assets/icons/home-outlined.png" alt="" />
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a id="owners-link" class="nav-link" href="/admin/owners">
          <img src="/assets/icons/owner-outlined.png" alt="" />
          <span>Theater Owners</span>
        </a>
      </li>
      <li>
        <a id="theaters-link" class="nav-link" href="/admin/theater">
          <img src="/assets/icons/theater-outlined.png" alt="" />
          <span>Theaters</span>
        </a>
      </li>
      <li>
        <a id="users-link" class="nav-link" href="/admin/user">
          <img src="/assets/icons/users-outlined.png" alt="" />
          <span>Users</span>
        </a>
      </li>
      <li>
        <a
          id="users-activity-link"
          class="nav-link"
          href="/admin/user-activity"
        >
          <img src="/assets/icons/analytics-outlined.png" alt="" />
          <span>Activities</span>
        </a>
      </li>
      <li>
        <a id="managers-link" class="nav-link" href="/admin/managers">
          <img src="/assets/icons/admin-outlined.png" alt="" />
          <span>Managers</span>
        </a>
      </li>
    </ul>

  </nav>
</aside>
{{! <script src="/javascripts/admin.js"></script>
<script>
    const adminSidebar = document.getElementById("admin-sidebar");

    adminSidebar.addEventListener("hover", () => {
        adminSidebar.style.width = "350px"
    })
</script> }}