<aside class="sidebar">
    <div class="sidebar__top">
        <h2>CM</h2>
    </div>
    <nav>
        <ul class="sidebar__navigation">
            <a href="">
                <li class="sidebar__link">
                    <h5>Dashboard</h5>
                </li>
            </a>
        </ul>
    </nav>
</aside>

<script src="/javascripts/admin.js"></script> 