<header class="theater-header">
    <h1>CineMax <span class="theater-header-panel">Theater Panel</span></h1>
    {{#if theater}}
    <a href="/theater/logout">Logout</a>
    {{else}}
    <div class="theater-info">
        <h5>STAHYAM THEATERS</h5>
        <p>ID: 34356456</p>
    </div>
    {{/if}}
</header>