<div class="sidebar admin-sidebar">
    <ul class="admin-nav">
        <li>
            <a id="dashboard" class="admin-nav-link" href="/theater">
                <i class="fas fa-home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a id="screen-management" class="admin-nav-link" href="/theater/screen">
                <i class="fas fa-image"></i>
                <span>Screen Management</span>
            </a>
        </li>
        <li>
            <a id="movie-management" class="admin-nav-link" href="/theater/movie">
                <i class="fas fa-film"></i>
                <span>Movie Management</span>
            </a>
        </li>
        <li class="admin-nav-item-aactive">
            <a id="user-activity" class="admin-nav-link" href="/theater/user-activity">
                <i class="fas fa-chart-line"></i>
                <span>User Activity Tracker</span>
            </a>
        </li>
        <li class="admin-nav-item-aactive">
            <a id="my-account" class="admin-nav-link" href="/theater/account">
                <i class="fas fa-user"></i>
                <span>My Account</span>
            </a>
        </li>
    </ul>
</div>
<script src="/javascripts/admin.js"></script>