<header class="theater-header">
    <h1>CineMax <span class="theater-header-panel">Theater Panel</span></h1>
    {{#if theater}}
    <a href="/theater/logout">Logout</a>
    {{else}}
    <a href="/">Home</a>
    {{/if}}
</header>