<header class="header">
    <div class="left">
        Cinemax
    </div>
    <div class="right">
        <ul>
            <li>
                <a href="/">MOVIES</a>
                <a href="/">CINEMAS</a>
                <a href="/">CONCERT</a>
            </li>
        </ul>
        <div class="header-account">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Sabrina_Carpenter_2019.jpg/220px-Sabrina_Carpenter_2019.jpg"
            alt="">
        <h4>Sabrina Carpenter</h4>
    </div>
    </div>
</header>