<body>
    <div class="app">
        {{>user-header}}
        {{{body}}}
        {{>user-footer}}
    </div>
    <div class="user-overlay">
        <div class="modal-container">
        <div class="login-modal">
            <h2>CineMax</h2>
            <form action="" class="login-form">
                <label for="email">Email</label>
                <input type="email" name="email" >
                <label for="password">Password</label>
                <input type="password">
                <button type="submit">Log in</button>
            </form>
        </div>
        </div>
    </div>
</body>