<header>
    <div class="container">
        <div class="header__child">
            <div class="header__left">
                <a href="/"><h1>Cinemax</h1></a>
            </div>

            <div class="header__right">
                <nav>
                    <ul class="header__navigation">
                        <li>
                            <a href="/cinemas">CINEMAS</a>
                        </li>
                    </ul>
                </nav>

                <div class="header__auth">
                    {{#if user}}
                        <div  class="header__account">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Sabrina_Carpenter_2019.jpg/220px-Sabrina_Carpenter_2019.jpg" alt="">
                            <h4>{{user.name}}</h4>
                        </div>
                    {{else}}
                        <button  onclick="openAuthModal()" class="header__login">Login / Signup</button>
                    {{/if}}
                    
                </div>
            </div>
        </div>
    </div>
    
</header>