SESSION_SECTRET = "YOUR_SESSION_SECRET"

GMAIL_ID = "SENDER_EMAIL_ID"
GMAIL_PASSWORD = "SENDER_EMAIL_PASSWORD"


RazorPay Credentials
RAZORPAY_KEY_ID = "RAZORPAY_KEY_ID"
RAZORPAY_KEY_SECRET = "RAZORPAY_KEY_SECRET"