<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{#if admin}}
  <link rel="stylesheet" href="/stylesheets/admin.css">
  {{/if}}
</head>

<body>
  {{#if admin}}
  {{>admin-header}}
  {{else}}
  {{>user-header}}
  {{/if}}
  <div class="main-contents">
    {{#if admin}}
    {{>admin-sidebar}}
    {{/if}}
    {{{body}}}
  </div>
</body>

</html>