<section class="addons">
    <div class="container">
        <div class="addons__child content-child">
            <div class="subheading">
                <div></div>
                <h3>ADD FOOD & SNACKS</h3>
            </div>

            <div class="addons__container">
                <div class="addons__nav">
                    <h4>Snacks</h4>
                    <h4>Beverages</h4>
                </div>
                <div class="addons-display">
                    <div class="addons__display-snacks">

                    </div>
                    <div class="addons__display-bev">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>