<section class="cinemas">
    <div class="container">
        <div class="cinemas__child content-child">
            <div class="subheading">
                <div></div>
                <h3>CINEMAS NEAR YOU</h3>
            </div>

            <div class="cinemas__theater-card">
                <img src="https://cdn.mos.cms.futurecdn.net/QFuzEB2Gxth6qQT8Tpe7LN.jpg" alt="">
                <img src="https://wallpapercave.com/wp/wp4019453.jpg" alt="">
                <img src="https://images.thedirect.com/media/photos/SpiderManPoster1.jpg" alt="">
                <div class="cinemas__theater-info">
                    <h2>SATHYAM THEATERS</h2>
                </div>
            </div>

            <div class="cinemas__theater-card">
                <img src="https://www.liveuttarpradesh.com/en/wp-content/uploads/2021/12/pushpa-trailer-291121-2.jpg" alt="">
                <img src="https://www.giantfreakinrobot.com/wp-content/uploads/2021/10/dune-review-scaled.jpg" alt="">
                <img src="https://preview.redd.it/qioiyp5wo1341.jpg?width=640&crop=smart&auto=webp&s=3d26f06264d050f0a8d11a5ecef63b99b7188c04" alt="">
                <div class="cinemas__theater-info">
                    <h2>ESCAPE CINEMAS</h2>
                </div>
            </div>
        </div>
    </div>
</section>


{{!-- 

avngers : https://cdn.mos.cms.futurecdn.net/QFuzEB2Gxth6qQT8Tpe7LN.jpg

spiderman : https://images.thedirect.com/media/photos/SpiderManPoster1.jpg

dune : https://www.giantfreakinrobot.com/wp-content/uploads/2021/10/dune-review-scaled.jpg

kgf : https://wallpapercave.com/wp/wp4019453.jpg

pushpa : https://www.liveuttarpradesh.com/en/wp-content/uploads/2021/12/pushpa-trailer-291121-2.jpg

james bond : https://preview.redd.it/qioiyp5wo1341.jpg?width=640&crop=smart&auto=webp&s=3d26f06264d050f0a8d11a5ecef63b99b7188c04

 --}}