<section class="user-parent">
    {{!-- <div class="carousel-container">

    </div> --}}
    <div class="movies-header">
        <h2>NOW SHOWING</h2>
    </div>
    <div class="movies-container">
        {{#each movies}}
        <a href="/movie/{{this._id._id}}">
            <div class="movie-card">
                <img src="{{this._id.poster}}" alt="">
                <h2>{{this._id.title}}</h2>
            </div>
        </a>
        {{/each}}
    </div>
    <div class="movies-header">
        <h2>UPCOMIG</h2>
    </div>
</section>