<section class="user-parent">
    {{!-- <div class="carousel-container">

    </div> --}}
    <div class="movies-container">
        <a href="">
            <div class="movie-card">
                <img src="https://creativereview.imgix.net/content/uploads/2019/12/joker_full.jpg?auto=compress,format&q=60&w=1012&h=1500"
                    alt="">
                <h2>TENET</h2>
            </div>
        </a>
    </div>
</section>