<section class="user-parent">
    {{!-- <div class="carousel-container">

    </div> --}}
    <div class="movies-container">
        {{#each movies}}
        <a href="/movie/{{this._id}}">
            <div class="movie-card">
                <img src="{{this.poster}}" alt="">
                <h2>{{this.title}}</h2>
            </div>
        </a>
        {{/each}}
    </div>
</section>