<section class="hero">
    <div class="hero__bg-image-mask">
    </div>
    <div class="hero__bottom-gradient"></div>
    <img src="https://w0.peakpx.com/wallpaper/331/346/HD-wallpaper-movie-dune-2021.jpg" alt="movie-hero-poster">
    <div class="container">
        <div class="hero__child">
        </div>
    </div>
</section>