<section class="hero">
    <div class="hero__bg-image-mask">
    </div>
    <div class="hero__bottom-gradient"></div>
    <img src="https://images8.alphacoders.com/100/thumb-1920-1003220.png" alt="movie-hero-poster">
    <div class="container">
        <div class="hero__child">
            <div class="hero__movie-info">
                <h1>Marvel's Avengers : Endgame</h1>
                <h4>ENGLISH</h4>
                <h4>139 min U/A</h4>
                <a href=""><button>Book Now</button></a>
            </div>
        </div>
    </div>
</section>
<section class="now">
    <div class="container">
        <div class="now__child">
            <div class="subheading">
                <div></div>
                <h3>NOW SHOWING</h3>
            </div>

            <div class="now__movies">
                <a href="/movie/123">
                    <div class="movie-card">
                        <img src="https://cdn.seat42f.com/wp-content/uploads/2020/07/15192015/Project-Power-Movie-Poster-Jamie-Foxx.jpg" alt="">
                        <div class="movie-card-bottom">
                            <h5>MARVEL AVENGERS (ENG)</h5>
                        </div>
                    </div>
                </a>
                {{!--  --}}
                <div class="movie-card">
                    <img src="https://cdn.seat42f.com/wp-content/uploads/2020/07/15192015/Project-Power-Movie-Poster-Jamie-Foxx.jpg" alt="">
                    <div class="movie-card-bottom">
                        <h5>MARVEL AVENGERS (ENG)</h5>
                    </div>
                </div><div class="movie-card">
                    <img src="https://cdn.seat42f.com/wp-content/uploads/2020/07/15192015/Project-Power-Movie-Poster-Jamie-Foxx.jpg" alt="">
                    <div class="movie-card-bottom">
                        <h5>MARVELsssAVENGERS (ENG)</h5>
                    </div>
                </div><div class="movie-card">
                    <img src="https://cdn.seat42f.com/wp-content/uploads/2020/07/15192015/Project-Power-Movie-Poster-Jamie-Foxx.jpg" alt="">
                    <div class="movie-card-bottom">
                        <h5>MARVEL AVENGERS (ENG)</h5>
                    </div>
                </div><div class="movie-card">
                    <img src="https://cdn.seat42f.com/wp-content/uploads/2020/07/15192015/Project-Power-Movie-Poster-Jamie-Foxx.jpg" alt="">
                    <div class="movie-card-bottom">
                        <h5>MARVEL AVENGERS (ENG)</h5>
                    </div>
                </div><div class="movie-card">
                    <img src="https://cdn.seat42f.com/wp-content/uploads/2020/07/15192015/Project-Power-Movie-Poster-Jamie-Foxx.jpg" alt="">
                    <div class="movie-card-bottom">
                        <h5>MARVEL AVENGERS (ENG)</h5>
                    </div>
                </div><div class="movie-card">
                    <img src="https://cdn.seat42f.com/wp-content/uploads/2020/07/15192015/Project-Power-Movie-Poster-Jamie-Foxx.jpg" alt="">
                    <div class="movie-card-bottom">
                        <h5>MARVEL AVENGERS (ENG)</h5>
                    </div>
                </div><div class="movie-card">
                    <img src="https://cdn.seat42f.com/wp-content/uploads/2020/07/15192015/Project-Power-Movie-Poster-Jamie-Foxx.jpg" alt="">
                    <div class="movie-card-bottom">
                        <h5>MARVEL AVENGERdddddddddddddddddddddS (ENG)</h5>
                    </div>
                </div><div class="movie-card">
                    <img src="https://cdn.seat42f.com/wp-content/uploads/2020/07/15192015/Project-Power-Movie-Poster-Jamie-Foxx.jpg" alt="">
                    <div class="movie-card-bottom">
                        <h5>MARVEL AVENGERS (ENG)</h5>
                    </div>
                </div>
                {{!--  --}}
            </div>
            
        </div>
    </div>
</section>