<div class="content-card theater-login-box">
    <h2>Login</h2>
    {{#if error.message}}
    <h3><span><i class="fas fa-exclamation-circle"></i>
        </span>{{error.message}}</h3>
    {{/if}}
    <form action="/login" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="">
        <label for="password">Password</label>
        <input type="password" name="password" id="">
        <button type="submit">Login</button>
        <p><a href="/signup">Signup</a></p>
    </form>
</div>