<section class="hero">
    <div class="hero__bg-image-mask">
    </div>
    <div class="hero__bottom-gradient"></div>
    <img src="https://images.squarespace-cdn.com/content/v1/507b2f30e4b066e116488db6/1366581664395-1EOF0V8KL1COY6OENC67/Oblivion-Poster.jpg?format=1000w" alt="" class="movie-background">
    <div class="container">
        <div class="hero__child">
            <div class="hero__movie-info">
                <h1>Oblivion</h1>
                <h4>ENGLISH</h4>
                <h4>139 min U/A</h4>
                <a href=""><button>Book Now</button></a>
            </div>
        </div>
    </div>
</section>

{{!-- <img src="https://d2kektcjb0ajja.cloudfront.net/images/posts/feature_images/000/000/072/large-1466557422-feature.jpg?1466557422" alt="" class="movie-background"> --}}
