<section class="moviehero">
    <div class="moviehero__bottom-gradient"></div>
    <img src="https://images.squarespace-cdn.com/content/v1/507b2f30e4b066e116488db6/1366581664395-1EOF0V8KL1COY6OENC67/Oblivion-Poster.jpg?format=1000w" alt="" class="movie-background">

    <div class="container">
        <div class="moviehero__child">
            <div class="moviehero__left">
                <img src="https://alternativemovieposters.com/wp-content/uploads/2020/09/NeilDavies_Oblivion.jpg" alt="" class="movie-background" alt="">
            </div>
            <div class="moviehoro__right">
                <h1>OBLIVION</h1>
                <div class="moviehero__rightlang">
                    <p>2D</p>
                    <div>
                        <p>TELUGU</p>
                        <p>TAMIL</p>
                    </div>
                </div>
                <div class="moviehero__rightinfo">
                    <p>2hr 59min</p>
                    <p>Action, Thriller</p>
                    <p>UA</p>
                    <p>17 DEC 2021</p>
                </div>
                <div class="moviehero__rightcrew">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="movieshows">
    <div class="container">
        <div class="moviehows__child">
            <div class="subheading">
                <div></div>
                <h3>PAYMENT DETAILS</h3>
            </div>

            <div class="movieshows__filters">
                <div>
                    <p>Date</p>
                    <select name="date" id="date">
                        <option value="01">AUG 21</option>
                    </select>
                </div>
                <div>
                    <p>No. of Seats</p>
                    <select name="seats" id="seats">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- <img src="https://d2kektcjb0ajja.cloudfront.net/images/posts/feature_images/000/000/072/large-1466557422-feature.jpg?1466557422" alt="" class="movie-background"> --}}
