<div class="user-parent">
    <div class="payment-left"></div>
    <div class="payment-right">
        <p>Select your Payment Gateway</p>
        <a href="razorPay">Razorpay</a>
        <a href="">Paypal</a>
    </div>
</div>