<section class="payments">
    <div class="container">
        <div class="payments__child content-child">
             <div class="subheading">
                <div></div>
                <h3>PAYMENT DETAILS</h3>
            </div>

            <div class="payments__box">
                <div class="payments__left">
                    <H3>AVENGERS : Endgame - ENG - [3D]</H3>
                    <h5>SATHYAM CINEMAS</h5>
                    <h5>26-06-2022  04:30 PM</h5>
                    <h5>Seats [3] : B3 , B4 , C4</h5>
                </div>
                <div class="payments__right">
                    <form>
                        <script src = "https://cdn.razorpay.com/static/widget/payment-button.js"
                            data-payment_button_id = "pl_FNmjTJSGXBYIfp"
                            data-button_text = "Pay Now"
                           data-button_theme = "brand-color">
                        </script>
                    </form>
                </div>
            </div>

            <div class="payments__info">
                <p>Please complete the payment within the time allowed to secure your tickets</p>
            </div>
        </div>
    </div>
</section>