<div class="content-card theater-login-box">
    <h2>Signup</h2>
    {{#if messages.error}}
    <h3><span><i class="fas fa-exclamation-circle"></i>
        </span>{{messages.error}}</h3>
    {{/if}}
    <form action="/signup" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="" required>
        <label for="mobile">Mobile</label>
        <input type="tel" name="mobile" id="" required>
        <label for="name">Name</label>
        <input type="text" name="name" required>
        <label for="password">Password</label>
        <input type="text" name="password" required>
        <button type="submit">Signup</button>
        {{!-- <p><a href="">Forgot password?</a></p> --}}
    </form>
</div>
{{!--
<script>
    const signup = (e) => {
        e.preventDefault();
        $.ajaxForm({
            url: "/signupFirst",
            type: "POST",
            success: () => {
                console.log("done")
            }
        })
    }
</script> --}}