<form action="/pay/razorpay" method="POST">
    <input type="number" name="amount" id="">
    <button type="submit">Pay</button>
</form>

<form action="/pay/paypal" method="POST">
    <input type="number" name="amount" id="">
    <button type="submit">Pay</button>
</form>