.admin-parent {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
}
.content-card {
  width: 100%;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.677);
  padding: 20px;
}
/* Login */
.admin-login-box {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid lightgrey;
  height: fit-content;
  position: relative;
}
.admin-login-box > h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--admin-tertiary);
  margin-bottom: 10px;
}
.admin-login-box > form {
  display: flex;
  flex-direction: column;
}
.admin-login-box > form > label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}
.admin-login-box > form > input {
  height: 40px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  /* background-color: var(--background); */
  border: 1px solid var(--admin-tertiary);
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--admin-tertiary);
}
.admin-login-box > form > button {
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--admin-tertiary);
  font-size: 18px;
  color: white;
  font-weight: 800;
  outline: none;
  border: none;
  cursor: pointer;
}
.admin-login-box > p {
  margin-top: 10px;
  font-size: 12px;
}
.admin-login-box > h3 {
  color: red;
  position: absolute;
  bottom: 40px;
  right: 30px;

  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.fa-exclamation {
  font-size: 14px;
  background-color: rgba(211, 211, 211, 0.677);
  margin: 0;
}
.admin-headings {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.admin-headings > h2 {
  font-size: 25px;
  font-weight: 800;
  color: var(--admin-primary);
  margin-left: 15px;
}
.admin-header-selector {
  width: 5px;
  height: 30px;
  background-color: var(--admin-tertiary);
}
/* Dashboard */
.admin-dashboard {
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
  max-height: 100%;
}
.cards {
  /* background-color: aqua; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
}
.card {
  width: 100%;
  height: 150px;
  /* border-radius: 20px; */
  position: relative;
  transition: transform 0.2s ease-in;
  color: white;
  /* box-shadow: 5px 5px 20px #989898f1; */
  border-left: 5px solid blue;
}
.card > h2 {
  position: absolute;
  top: 30px;
  left: 30px;
}
.card > h1 {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 40px;
}
.card:nth-child(1) {
  background: linear-gradient(
    165deg,
    rgba(43, 72, 134, 1) 0%,
    rgba(34, 193, 195, 1) 100%
  );
}
.card:nth-child(2) {
  background: linear-gradient(
    165deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.card:nth-child(3) {
  background: linear-gradient(
    165deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
.card:nth-child(4) {
  background: linear-gradient(
    165deg,
    rgba(252, 70, 107, 1) 0%,
    rgba(43, 72, 134, 1) 100%
  );
}
/* Theater Management */
.admin-theater-management {
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
}
.admin-theater-owner-table {
  width: 70%;
  margin: 0 auto;
}
.theater-owner-table-button {
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  background-color: blue;
  font-weight: 800;
  text-decoration: none;
  margin-right: 15px;
}
.theater-owner-table-button:nth-child(2) {
  background-color: yellow;
}
.theater-owner-table-button:nth-child(2) {
  background-color: red;
}
/* Add theater owner */
.admin-add-theater-owner {
  width: 100%;
  padding: 20px;
}
.add-theater-owner-form {
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
}
.add-theater-owner-form > p {
  font-size: 20px;
  font-weight: 600;
  color: var(--admin-tertiary);
  margin-bottom: 10px;
}
.add-theater-owner-form > label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}
.add-theater-owner-form > input {
  height: 40px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  /* background-color: var(--background); */
  border: 1px solid var(--admin-tertiary);
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--admin-tertiary);
}
.add-theater-owner-form > button {
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--admin-tertiary);
  font-size: 18px;
  color: white;
  font-weight: 800;
  outline: none;
  border: none;
  cursor: pointer;
}
.admin-edit-theater-owner {
  width: 100%;
  padding: 20px;
}
/* User Management */
.admin-user-management {
  width: 100%;
  overflow-y: scroll;
  padding: 20px;
}
.admin-user-table {
  margin: 0 auto;
  width: 70%;
}
th,
td {
  height: 60px;
  text-align: center;
  vertical-align: center;
}
th {
  height: 30px;
  background-color: var(--admin-secondary);
  border-radius: 5px;
  color: var(--admin-primary);
}
tr:hover {
  border-radius: 15px;
  background-color: #c7c5c54f;
}
.table-image-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-image-name > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 999px;
  margin-right: 10px;
}
.user-table-button {
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  background-color: blue;
  font-weight: 800;
  text-decoration: none;
  margin-right: 15px;
}
.user-table-button:nth-child(2) {
  background-color: red;
}
/* User Activity */
.admin-user-activity {
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
}

/* Breakpoints */
@media (max-width: 1300px) {
  .admin-user-table {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 49%);
  }
}
@media (max-width: 1150px) {
  .admin-theater-owner-table {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}
@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
@media (max-width: 500px) {
  .cards {
    grid-template-columns: 100%;
  }
}
