.main-body {
  display: flex;
  height: calc(100vh - 80px);
  padding-top: 120px;
}
/* Sidebar */
.sidebar {
  width: 100px;
  display: flex;
  flex-direction: column;
}
.admin-sidebar {
  /* min-width: 270px; */
  background-color: white;
  align-items: center;
  height: 100%;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.677);
}
/* .admin-sidebar:hover .admin-sidebar {
  width: 350px;
} */
.admin-sidebar:hover .admin-nav-link > span {
  display: block;
}

.fas {
  font-size: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-nav-link {
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--admin-primary);
}
.admin-nav-link > span {
  font-weight: 800;
  font-size: 16px;
  /* margin-left: 5px; */
  display: none;
}
.admin-nav-link--active {
  color: white;
  background-color: var(--admin-tertiary);
}
.admin-nav-link--active > i {
  color: white;
}
.admin-nav-link--active > span {
  color: white;
}
.admin-nav {
  width: 100%;
  /* margin-top: 20px; */
}
.admin-nav > li {
  list-style: none;
  transition: background-color 0.2s ease-in;
}
.admin-nav > li:hover {
  background-color: rgba(0, 0, 255, 0.408);
}

/* User Header */
