* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* Colors */
  --admin-primary: #2f3547;
  --admin-secondary: #e6f9fe;
  --admin-tertiary: blue;
}

a {
  color: #00b7ff;
}
/* Layout Styling */
/* Admin header */
.admin-header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--admin-primary);
  color: white;
}
.admin-header > h1 {
  font-size: 30px;
  font-weight: 1000;
  letter-spacing: 5px;
}
.admin-header > a {
  background-color: blue;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.main-contents {
  display: flex;
}
/* Sidebar */
.sidebar {
  width: 320px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
}
.admin-sidebar {
  background-color: var(--admin-secondary);
  padding: 20px;
  align-items: center;
}
.admin-sidebar > h2 {
  font-size: 28px;
  color: var(--admin-primary);
}
.admin-nav {
  width: 100%;
  margin-top: 20px;
}
.admin-nav > li {
  list-style: none;
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.2s ease-in;
}
.admin-nav-selector {
  position: absolute;
  left: 0;
  height: 25px;
  width: 5px;
  background-color: var(--admin-primary);
  display: none;
}
.admin-nav > li:hover {
  transform: scale(1.02);
}
.admin-nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: Black;
}
.admin-nav-link--active {
  color: var(--admin-tertiary);
  margin-left: 15px;
}
.admin-nav-link--active .admin-nav-selector {
  display: inline-block;
}
