* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* Colors */
  --admin-primary: #2f3547;
  --admin-secondary: #d8d8d8;
  --admin-tertiary: blue;
  background-color: rgba(218, 205, 179, 0.387);
}

a {
  color: #00b7ff;
}
/* Layout Styling */
/* Admin header */
.admin-header,
.theater-header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.677);
}
.admin-header > h1,
.theater-header > h1 {
  font-size: 30px;
  font-weight: 1000;
  letter-spacing: 5px;
}
.admin-header > a,
.theater-header > a {
  background-color: blue;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.main-body {
  display: flex;
  height: calc(100vh - 80px);
}
/* Sidebar */
.sidebar {
  width: 320px;
  display: flex;
  flex-direction: column;
}
.admin-sidebar {
  min-width: 270px;
  background-color: white;
  align-items: center;
  height: 100%;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.677);
}
.fas {
  font-size: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-nav-link {
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.admin-nav-link > span {
  font-weight: 800;
  font-size: 16px;
  margin-left: 5px;
}
.admin-nav-link--active {
  color: white;
  background-color: var(--admin-tertiary);
}
.admin-nav-link--active > i {
  color: white;
}
.admin-nav-link--active > span {
  color: white;
}
.admin-nav {
  width: 100%;
  /* margin-top: 20px; */
}
.admin-nav > li {
  list-style: none;
  transition: background-color 0.2s ease-in;
}
.admin-nav > li:hover {
  background-color: rgba(0, 0, 255, 0.408);
}
