* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  /* Colors */
  --color-primary: #f24138;
  --color-seccondary: #7367f0;
  --color-dark-background: rgb(31, 25, 25);
  --color-less-dark: rgb(63, 58, 58);

  /* Shadows */
  --box-shadow-high: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  background-color: var(--color-dark-background);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  color: #00b7ff;
}

/************************/
/******** Header *******/
/**********************/
header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.header__child {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__left > h1 {
  color: var(--color-primary);
}
.header__right {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
}
.header__navigation > li {
  margin-left: 40px;
  list-style: none;
}
.header__navigation > li > a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.header__account {
  display: flex;
  align-items: center;
  background-color: #227373;
  padding: 3px;
  border-radius: 99px;
  margin-left: 30px;
}

.header__account > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 999px;
}
.header__account > h4 {
  margin-right: 10px;
}

/* Footer */
.footer-child {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.content-child {
  padding-top: 80px;
}
