.user-parent {
  /* width: calc(100vw - 300px); */
  width: 100%;
  min-height: calc(100vh - 100px);
}
.content-card {
  width: 100%;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.677);
  padding: 20px;
}

/* Login */
.theater-login-box {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid lightgrey;
  height: fit-content;
  position: relative;
}
.theater-login-box > form {
  display: flex;
  flex-direction: column;
}
.theater-login-box > h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--admin-tertiary);
  margin-bottom: 10px;
}
.theater-login-box > h3 {
  color: red;
  position: absolute;
  bottom: 25px;
  right: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.theater-login-box > form > label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}
.theater-login-box > form > input {
  height: 40px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  /* background-color: var(--background); */
  border: 1px solid var(--admin-tertiary);
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--admin-tertiary);
}
.theater-login-box > form > button {
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--admin-tertiary);
  font-size: 18px;
  color: white;
  font-weight: 800;
  outline: none;
  border: none;
  cursor: pointer;
}

.carousel-container {
  width: 100%;
  height: 400px;
  background-color: chartreuse;
}
.movies-header {
  background-color: blue;
  padding: 10px 20px;
}
.movies-header > h2 {
  color: white;
}
.movies-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  padding: 20px;
}
.movie-card {
  width: auto;
  /* margin: 20px; */
  background-color: lightgray;
}
.movie-card > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}

/* Movie */
.banner {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 50px;
  color: white;
}
.movie-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: grayscale(70%);
}
.movie-poster {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-right: 30px;
}
