.user-parent {
  /* width: calc(100vw - 300px); */
  width: 100%;
  min-height: calc(100vh - 100px);
}
.carousel-container {
  width: 100%;
  height: 400px;
  background-color: chartreuse;
}
.movies-header {
  background-color: blue;
  padding: 10px 20px;
}
.movies-header > h2 {
  color: white;
}
.movies-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  padding: 20px;
}
.movie-card {
  width: 100%;
  /* margin: 20px; */
  background-color: lightgray;
}
.movie-card > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* Movie */
.banner {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 50px;
  color: white;
}
.movie-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: grayscale(70%);
}
.movie-poster {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-right: 30px;
}
