.user-parent {
  width: 100%;
  min-height: calc(100vh - 100px);
}
.carousel-container {
  width: 100%;
  height: 400px;
  background-color: chartreuse;
}
.movies-container {
  display: flex;
}
.movie-card {
  width: 300px;
  margin: 20px;
  background-color: lightgray;
}
.movie-card > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
