<section class="theater-parent">
    <div class="content-card">
        <div class="theater-headings">
            <div class="theater-header-selector"></div>
            <h2>My Account</h2>
        </div>
    </div>
</section>
{{!-- Scripts --}}
<script>
    setActiveTab("my-account")
</script>