<header class="admin-header">
    <h1>CineMax <span class="admin-header-panel">Admin Panel</span></h1>
    {{#if admin}}
    <a href="/admin/logout">Logout</a>
    {{else}}
    <a href="/">Home</a>
    {{/if}}
</header>