<div class="sidebar admin-sidebar">
    <ul class="admin-nav">
        <li>
            <a id="dashboard" class="admin-nav-link" href="/">
                <i class="fas fa-film"></i>
                <span>Movies</span>
            </a>
        </li>
        <li>
            <a id="theater-management" class="admin-nav-link" href="/cinemas">
                <i class="fas fa-warehouse"></i>
                <span>Cinemas</span>
            </a>
        </li>
        {{!-- <li>
            <a id="user-management" class="admin-nav-link" href="/admin/user">
                <i class="fas fa-user"></i>
                <span>User Management</span>
            </a>
        </li> --}}
        <li class="admin-nav-item-aactive">
            <a id="user-activity" class="admin-nav-link" href="/account">
                <i class="fas fa-chart-line"></i>
                <span>My Account</span>
            </a>
        </li>
    </ul>
</div>
<script src="/javascripts/admin.js"></script>