<section class="theater-parent">
    <div class="content-card">
        <div class="theater-headings">
            <div class="theater-header-selector"></div>
            <h2>Add Screen</h2>
        </div>
        <form class="form theater-add-screen-form" action="/theater/screen/add-screen" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="seats">Number of Seats in a row</label>
            <input type="number" name="rowSeats" maxlength="3">
            <label for=""><strong>No of Rows in each class</strong></label>
            <label for="vip">VIP</label>
            <input type="number" name="vip">
            <label for="premium">Premium</label>
            <input type="number" name="premium">

            <label for="executive">Executive</label>
            <input type="number" name="exectutive">
            <label for="normal">Normal</label>
            <input type="number" name="normal">
            <button>Submit</button>
        </form>
    </div>
</section>
{{!-- Scripts --}}
<script>
    setActiveTab("screen-management")
</script>