<section class="theater-parent">
    <div class="content-card">
        <div class="theater-headings">
            <div class="theater-header-selector"></div>
            <h2>Add Movie</h2>
        </div>
        <form class="form theater-add-screen-form" action="/theater/movie/add-movie" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title">
            <label for="cast">Cast</label>
            <input type="text" name="cast">
            <label for="director">Director</label>
            <input type="text" name="director">
            <label for="release">Release Date</label>
            <input type="text" name="release">
            <label for="runtime">Runtime</label>
            <div class="runtime-input-wrapper">
                <input type="text" name="runtimeHr" maxlength="2" type="number">
                <label for="runtimeHr">hr</label>
                <input type="text" name="runtimeMin" maxlength="2" type="number">
                <label for="runtimeMin">Min</label>
            </div>
            <label for="lang">Language</label>
            <input type="text" name="lang">
            <label for="type">Genre</label>
            <input type="text" name="genre">
            <label for="trailer">trailer Link</label>
            <input type="text" name="trailer">
            <button>Submit</button>
        </form>
    </div>
</section>
{{!-- Scripts --}}
<script>
    setActiveTab("movie-management")
</script>