<div class="theater-parent">
    <div class="sidebar admin-sidebar">
        <h2>Theater</h2>
        <ul class="admin-nav">
            <li>
                <a class="admin-nav-link admin-nav-link--active" href="/theater">Dashboard<div
                        class="admin-nav-selector">
                    </div></a>
            </li>
            <li><a class="admin-nav-link" href="/theater/theater">Movie Management<div class="admin-nav-selector"></div>
                </a>
            </li>
            <li><a class="admin-nav-link" href="/theater/user">Screens<div class="admin-nav-selector"></div></a>
            </li>
            <li><a class="admin-nav-link" href="/theater/user-activity">Users Activity Tracker<div
                        class="admin-nav-selector">
                    </div></a></li>
        </ul>
    </div>
</div>