<section class="theater-parent">
    <div class="content-card">
        <div class="theater-headings">
            <div class="theater-header-selector"></div>
            <h2>Quick Overview</h2>
        </div>
    </div>
</section>
{{!-- Scripts --}}
<script>
    setActiveTab("dashboard")
</script>