<section class="theater-parent">
    <div class="content-card">
        <div class="theater-headings">
            <div class="theater-header-selector"></div>
            <h2>Edit Screen</h2>
        </div>
        <form class="form theater-add-screen-form" action="">
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="seats">Number of Seats</label>
            <input type="number" name="seats">
            <button>Submit</button>
        </form>
    </div>
</section>
{{!-- Scripts --}}
<script>
    setActiveTab("screen-management")
</script>