<section class="content">
    <div class="content-card">
        <div class="theater-headings">
            <div class="theater-header-selector"></div>
            <h2>Quick Overview</h2>
        </div>
        <div class="cards">
            <div class="card">
                <h2>Number of Shows</h2>
                <h1>17</h1>
            </div>
            <div class="card">
                <h2>Seats Available</h2>
                <h1>24</h1>
            </div>
            <div class="card">
                <h2>Number of Bookings</h2>
                <h1>16</h1>
            </div>
            <div class="card">
                <h2>Payments Completed</h2>
                <h1>30</h1>
            </div>
        </div>
    </div>
</section>
{{!-- Scripts --}}
<script>
    setActiveTab("dashboard")
</script>