<div class="theater-login-box">
    <h1>Login</h1>
    <form action="/test" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="">
        <label for="password">Password</label>
        <input type="password" name="password" id="">
        <button type="submit">Login</button>
        <p><a href="">Forgot password?</a></p>
    </form>
</div>