<section class="theater-parent">
    <div class="content-card">
        <div class="theater-headings">
            <div class="theater-header-selector"></div>
            <h2>Now Showing Movies</h2>
        </div>
        <a href="/theater/movie/add-movie">Add movies</a> <a href="">Upcoming</a>
        <table class="owner-movie-table">
            <tr>
                <th>No</th>
                <th>Movie Name</th>
                <th>Release date</th>
                <th>Runtime</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>1</td>
                <td>AUDI</td>
                <td>15/01/20</td>
                <td>2hr30min</td>
                <td><a href="/theater/movie/edit-movie">EDIT</a><a href="/theater/movie/delete-movie">DELETE</a></td>
            </tr>
        </table>
    </div>
</section>
{{!-- Scripts --}}
<script>
    setActiveTab("movie-management");
</script>