<section class="theater-parent">
    <div class="content-card">
        <div class="theater-headings">
            <div class="theater-header-selector"></div>
            <h2>Screen Management</h2>
        </div>
        <a href="/theater/screen/add-screen">Add Screen</a>
        <table class="owner-screen-table">
            <tr class="owner-screen-table-row">
                <th>No</th>
                <th>Screen Name</th>
                <th>Total Seats</th>
                <th>Schedule</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    AUDI
                </td>
                <td>200</td>
                <td><a href="">view schedule</a></td>
                <td></td>
            </tr>
        </table>
    </div>
</section>
{{!-- Scripts --}}
<script>
    setActiveTab("screen-management")
</script>