<section class="theater-parent">
    <div class="content-card">
        <div class="theater-headings">
            <div class="theater-header-selector"></div>
            <h2>Screen Management</h2>
        </div>
    </div>
</section>
{{!-- Scripts --}}
<script>
    setActiveTab("screen-management")
</script>