<div class="theater-parent">
    <div class="sidebar theater-sidebar">
        <h2>Theater</h2>
        <ul class="theater-nav">
            <li>
                <a class="theater-nav-link" href="/theater">Dashboard<div class="theater-nav-selector">
                    </div></a>
            </li>
            <li><a class="theater-nav-link" href="/theater/movie">Movie Management<div class="theater-nav-selector">
                    </div>
                </a>
            </li>
            <li><a class="theater-nav-link theater-nav-link--active" href="/theater/screens">Screens<div
                        class="theater-nav-selector"></div></a>
            </li>
            <li><a class="theater-nav-link" href="/theater/user-activity">Users Activity Tracker
                    <div class="theater-nav-selector">
                    </div></a></li>
        </ul>
    </div>
</div>